:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
}

:root {
	--font-family: "Roboto", sans-serif;
	--second-family: "Raleway", sans-serif;
}

*,
body {
	font-family: var(--font-family);
	color: var(--navy-blue);
}

header .logo {
	font-family: var(--second-family);
	font-weight: 800;
	font-size: 18px;
	line-height: 117%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-decoration: none;
}

header ul {
	list-style-type: none;
}

header .nav-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	text-decoration: none;
	}

header .nav-link:hover {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: var(--ocean);
}



address .address-link {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	text-transform: lowercase;
	text-decoration: none;
	color: var(--slate);
}

address .address-link:hover, 
address .address-link:focus {
	color: var(--iris);
}

footer .logo {
	font-family: var(--second-family);
	font-weight: 800;
	font-size: 18px;
	line-height: 117%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-decoration: none;
}

section.first-main {
	width: 1440px;
	height: 600px;	
	background-color: var(--navy-blue);
}

h1 {
	font-weight: 700;
	font-size: 56px;
	line-height: 107%;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--white);
}

.order-btn {
	/* button */
	border-radius: 4px;
	padding: 16px 32px;
	width: 169px;
	height: 56px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	background: var(--iris);
	/* text */
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 15px;
	line-height: 150%;
	letter-spacing: 0.04em;
	color: var(--white);
}

.order-btn:hover {
	background: var(--ocean);
}

.features {
	list-style-type: none;
}

.features-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.02em;
}

.features-descr {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: var(--slate);
}

.specifications {
	font-weight: 700;
	font-size: 36px;
	line-height: 111%;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	text-align: center;
}

.specifications-list {
	list-style-type: none;
}

.team {
	font-weight: 700;
	font-size: 36px;
	line-height: 111%;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	text-align: center;
}

.team-list {
	list-style-type: none;
}

.team-name {
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.02em;
	text-align: center;
}

.team-role {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--slate);
}

section .filter-list{
	list-style-type: none;
}

button.filter-btn {
	/* button */
	border: 1px solid var(--cornflower);
	border-radius: 4px;
	padding: 12px 24px;
	width: 116px;
	height: 48px;
	background: var(--cloud);
	/* Text */
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-align: center;
	color: var(--iris);
}

button.filter-btn:hover{
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
	background: var(--ocean);
	color: var(--white);
}

ul.row1 {
	list-style-type: none;
}

ul.row1 > li > h2 {
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.02em;
}

ul.row1 > li > p {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: var(--slate);
}

ul.row2 {
	list-style-type: none;
}

ul.row2 > li > h2 {
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.02em;
}

ul.row2 > li > p {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: var(--slate);
}

ul.row3 {
	list-style-type: none;
}

ul.row3 > li > h2 {
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.02em;
}

ul.row3 > li > p {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: var(--slate);
}


footer {
	width: 1440px;
	height: 312px;
	background-color: var(--navy-blue);
}

footer > p {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: var(--cloud);
}

footer .logo {
	color: var(--cloud);
}